<a href="https://colab.research.google.com/github/jjyeon661/ABCD-A/blob/20250310/20250310_%ED%94%84%EB%A6%B0%ED%84%B0%20%ED%95%A8%EC%88%98%20%EC%82%AC%EC%9A%A9%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello")
print('Hello','everyone')
print('Hello'+'everyone')

Hello
Hello everyone
Helloeveryone

In [3]:
print('Hello',end='!!!')
print('test')

Hello!!!test

In [4]:
a =123
b ='Hello'
print(a,b)
print(a,456,b,'world')

123 Hello
123 456 Hello world

In [5]:
print('Hello"pyton"')
print("Hello'pyton'")
print('Hello','pyton!')
print('Hello' + 'pyton!')

Hello"pyton"
Hello'pyton'
Hello pyton!
Hellopyton!

In [6]:
print("화면에 직접 출력")
print('ab\'c')
print("ab'c")
print("dosen't")
print('does')
print('doesn\'t')
print("'string'")
print("\"string\"")
print('"string"')

화면에 직접 출력
ab'c
ab'c
dosen't
does
doesn't
'string'
"string"
"string"

In [7]:
s1 ='화면에 직접 출력'
s2 = 'ab\'c'
s3 ='does'
print(s1)
print(s2)
print(s3)
print(s1[0]) # 첫 글자
print(s2[1]) # 두번째 글자
print(s3[1:3])
print(s3[-1])# 마지막 글자
print(s1[-2]) # 뒤에서 두번째째

화면에 직접 출력
ab'c
does
화
b
oe
s
출

In [8]:
a = 2
b =3.1456
c =a+b
print(a)
print(b)
print(c)
print(round(c,3))
print("%.3f"%(c))
print(a+b)
print(a,b,a+b,c)
d = 1e2
e = 1e-2
print(d)
print(e)

2
3.1456
5.1456
5.146
5.146
5.1456
2 3.1456 5.1456 5.1456
100.0
0.01

In [9]:
item1 ='사과'
price1= 1000
item2 ='바나나'
price2 = 500
print(item1,price1)
print(item2,price2)

사과 1000
바나나 500

In [10]:
str ='{0}는{1}원입니다'
print(str.format(item1,price1))
print(str.format(item2,price2))

print(item1,price1,sep=',',end='/')
print(item1,price1)

사과는1000원입니다
바나나는500원입니다
사과,1000/사과 1000

In [11]:
str2 = '%s는 %d원입니다.'
print(str2%(item1,price1))
print(str2%(item2,price2))

사과는 1000원입니다.
바나나는 500원입니다.