<a href="https://colab.research.google.com/github/jjyeon661/ABCD-A/blob/20250328/%ED%8C%8C%EC%9D%B4%EC%8D%AC300%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
samsung_price = 50000
shares_held = 10

total_value = samsung_price * shares_held

print("총 평가금액:", total_value, "원")

총 평가금액: 500000 원

In [ ]:
market_cap = 298000000000000
current_price = 50000
per = 15.79

print("시가총액:", market_cap, "원")
print("현재가:", current_price, "원")
print("PER:", per)

시가총액: 298000000000000 원
현재가: 50000 원
PER: 15.79

In [ ]:
s = "hello!"
t = " python"

print(s + t)

hello! python

In [ ]:
a = 2
b = 3

result = a + a * b

print(result)

8